.warning{
    color: red;
}
/* .email_format{
    color: red;
} */

/* .email_indicator{
    display: none;
} */

.submit_btn{
    display: block;
    padding: 10px;
    margin: 15px auto;
    font-weight: 800;
}

#full_name,
#email_address,
#subject,
#message,
#file,
#inquiry{
    color: #000;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

label{
    color: #fff;
    font-weight: 600;
}